@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
}

#foto1, #foto2 {
    text-align: center;
}
#contador1, #contador2 {
    text-align: center;
}

p {
    text-align: center;
    color: rgba(128, 128, 128, 0.555);
}

hr {
    width: 50%;
    margin: 20px auto; /* Ajuste o valor conforme necessário
    border: none; /* Remove a borda padrão */
    height: 2px; /* Altura da linha */
    background-color: white; /* Cor da linha */
}


    /* Estilo do coração */
    .heart {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: red;
        transform: rotate(45deg);
        animation: fall linear infinite;
      }
  
      /* Parte de cima do coração (circulo) */
      .heart::before,
      .heart::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
      }
  
      .heart::before {
        top: -10px;
        left: 0;
      }
  
      .heart::after {
        top: 0;
        left: -10px;
      }
  
      @keyframes fall {
        0% {
          top: -10%;
          opacity: 1;
        }
        100% {
          top: 110%;
          opacity: 0;
        }
      }